@model ElectronicStore.Models.Order


@{
    ViewBag.Title = "New";
}

<h2>Order:</h2>

<div class="navbar">
    <a class="navlink" href="/Order/List">Back to List</a>
</div>
<div>
    <div class="col2">
        <form method="post" action="/Order/Update/@Model.OrderID">
            <div class="inpfield"><span> Name:</span><input type="text" name="OrderName" id="OrderName" value="@Model.OrderName" /></div>
            <div class="inpfield"><span>Payment Type:</span><input type="text" name="OrderPayType" id="OrderPayType" value="@Model.OrderPayType" /></div>
            <div class="inpfield"><span>Order Date:</span><input type="text" name="OrderDate" id="OrderDate" value="@Model.OrderDate" /></div>
            <div class="inpfield"><span>Order Cost:</span><input type="text" name="OrderCost" id="OrderCost" value="@Model.OrderCost" /></div>
           
            <input type="submit" value="Update Order" />
        </form>
    </div>
    <div class="col2last"></div>
    <div style="clear:both;"></div>
</div>