
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<a href="/Customer/List" class="navlink">Back to List</a>
<form method="POST" action="/Customer/Add">
    <div class="inpfield"><span>Name:</span><input type="text" id="CustomerName" name="CustomerName" /></div>
    <div class="inpfield"><span>Email:</span><input type="text" id="CustomerEmail" name="CustomerEmail" /></div>
    <div class="inpfield"><span>Address:</span><input type="text" id="CustomerAddress" name="CustomerAddress" /></div>
    <div class="inpfield"><input type="submit" value="Add New Customer" /></div>
</form>