@model  List<ElectronicStore.Models.Brands>
@{
    ViewBag.Title = "Add";
}

<h2>Add Electronic</h2>

<form method="POST" action="/Electronic/Add">
    
    <div class="inpfield"><span>Name:</span><input id="ElectronicName" type="text" name="ElectronicName" /></div>
    <div class="inpfield">
        <span>Brands:</span>
        <select id="BrandID" type="text" name="BrandID">
            @{
                
                foreach (var brands in Model)
                {
                    <option value="@brands.BrandID">@brands.BrandName</option>

                }
            }
        </select>
    </div>
    <div class="inpfield"><span>Type:</span><input id="ElectronicType" type="text" name="ElectronicType" /></div>
    <div class="inpfield"><span>Color:</span><input id="ElectronicColor" type="text" name="ElectronicColor" /></div>
    <div class="inpfield">
        Notes:
        <textarea id="ElectronicDescription" name="ElectronicDescription">
        </textarea>
    </div>
    <div class="inpfield">
        <input type="submit" value="Add Electronic">
    </div>
</form>
