
@{
    ViewBag.Title = "New";
}
  <!-- Here we are adding new brand which is only asking for brandname and submitting it through post method.-->
<h2>Add</h2>
<a href="/Brand/List" class="navlink">Back to List</a>
<form method="POST" action="/Brand/Add">
    <div class="inpfield"><span>Name:</span><input type="text" id="BrandName" name="BrandName" /></div>
    <div class="inpfield"><input type="submit" value="Add New Brand" /></div><!-- TO submit the form-->
</form>